{% extends "base.html" %}

{% block content %}
    <title>О Дневнике читателя</title>
    <p align="center">Наш сайт представляет собой онлайн Дневник читателя<br>
       Здесь вы можете увидеть список произведений школьной<br>
       программы По клику на название произведения происзходит<br>
       переход на страницу, в которой можно посмотреть основные<br>
       данные о произведении. По клику на автора произведения<br>
       открывается страница об авторе из википедии. По клику<br>
       на название сайта в вверху экрана происходит переход на<br>
       главную страницу. Для зарегистрированного пользователя <br>
       доступна возможность получения на странице произведения<br>
       печатной формы для дневника читателя по кнопке<br>
        "Сгенерировать печатную форму"
    </p>

{% endblock %}